* {
  box-sizing: border-box;
}
/*css에서 모든 태그를 의미*/

html,
body {
  margin: 0;
  padding: 0;
}
/*브라우저가 기본적으로 주는 요소 0으로 만들기*/

/* 선택자(selector) */
/*css는 부모, 조상의 css에 덮어 씌울 수 있음 = cascading*/
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}
/* id는 #, class는 . */

#fixed {
  position: fixed;
  top: 50px;
  right: 50px;
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50px;
}

.center-align {
  /* #앞에는 div 생략(div만 가능, header같은 건 안됨) */
  margin: 0 auto;
  width: 1080px;
  /*모니터 픽셀 중 1080을 차지(상대적 개념)*/
}

#header-top {
  float: right;
}

#header-top span {
  color: #888;
  letter-spacing: -1px;
  font-size: 11px;
  line-height: 22px;
}

#header-search a {
  clear: both;
  /*float 해제해주려면 clear: both 써야 함*/
}

#header-search h1 {
  /*기존의 아이디를 상속받는 태그(자식)를 이렇게 불러올 수 있음*/
  /*하지만 자식이든 자손이든 상관 x, 꺽쇄 안써도 됨*/
  width: 220px;
  height: 57px;
  display: inline-block;
  /*div는 기본값이 block -> inline-block해서 없애줌*/
  background-position: 0 -158px;
  background-size: 430px 415px;
  background-image: url("./네이버 로고.png");
  vertical-align: middle;
  position: relative;
  top: -6px;
}

/*#header-center h1 {*/
/*이건 자손 선택자*/
/*}*/

#header-search h1 span {
  display: none;
}

#header-search h2 {
  display: none;
}

#header-search fieldset {
  margin-left: 20px;
  /*padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 0;*/
  padding: 12px 0 12px 10px;
  /*시계 방향*/
  width: 474px;
  height: 50px;
  display: inline-block;
  border: 2px solid #03cf5d; /* hex 표기법 */
  /*필드셋과 h1의 블록을 없애 네이버 로고와 검색창을 한줄에*/
  box-sizing: border-box;
  /*높이, 너비를 콘텐트에 맞추느냐, 보더에 맞추느냐를 결정*/
  vertical-align: middle;
  /*세로 정렬 맟주기 -> 개발자 도구에서 여러 값들을 미리 만져본 뒤 정하기*/
  /*inline, inline-block에서만 가능*/
  position: relative;
  /*붙길 원하는 곳에 position: relative를 넣어야 함*/
}

#header-search fieldset input {
  border: none;
  padding: 0;
  outline: none;
  vertical-align: top;
  width: 405px;
  height: 23px;
  display: inline-block;
  /*브라우저가 넣어준 기본 css인 검색창 클릭 시 테두리 없앰*/
}

#header-search fieldset button {
  width: 50px;
  height: 48px;
  border: none;
  padding: 0;
  background: #03cf5d;
  position: absolute;
  right: 0;
  top: 0;
}

#search-image {
  background-image: url("./네이버 로고 최신.png");
  /*background-position: -837px 3px;
  background-repeat: no-repeat;
  width: 51px;
  height: 48px;
  display: inline-block;
  margin: 0px;*/
  display: inline-block;
  width: 22px;
  height: 22px;
  background-position: -420px 0;
  background-repeat: no-repeat;
  vertical-align: top;
  background-size: 457px 434px;
  /*네이버 웹속성 데이터가 더 정확 -> 어디서 차이가 난 건지는 추후 확인*/
}

/* center-align이 아니라 nav 아래 둬야함*/
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /*리스트 앞에 .(점)없애주는 기능*/
}

nav li {
  display: inline-block;
}

nav li span:first-child {
  height: 16px;
  display: inline-block;
  background-image: url("./네이버 메뉴 로고.png");
  background-repeat: no-repeat;
  margin-left: 14px;
}
/*공통 요소는 따로 정리*/

nav li:first-child span:first-child {
  /*각 list의 n번째 자식*/
  width: 25px;
  background-position: 0 -285px;
  margin-left: 0;
}
/*css 우선순위 id 금메달, class, 의사클래스 은메달, 태그 동메달*/
/*제로초 블로그 css 우선순위 한번 보기*/

nav li:nth-child(2) span:first-child {
  width: 27px;
  background-position: -279px -52px;
}

nav li:nth-child(3) span:first-child {
  width: 40px;
  background-position: -100px -182px;
}

nav li:nth-child(4) span:first-child {
  width: 40px;
  background-position: -101px -156px;
}

nav li:nth-child(5) span:first-child {
  width: 26px;
  background-position: -279px -156px;
}

nav li:nth-child(6) span:first-child {
  width: 25px;
  background-position: -70px -285px;
}
