#watch-title {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#watch-title h3 {
  display: inline-block;
  margin: 0;
  padding-left: 10px;
}

.watch-main__time {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  margin: 10px 80px;
  padding: 20px 0;
}

.watch-main__btnbar__btn {
  display: flex;
  justify-content: space-around;
}

.watch-main__btnbar {
  border: 1px solid black;
  margin: 20px 80px;
}

.watch-main__btnbar__btn li {
  border: 1px solid black;
  border-radius: 50px;
  padding: 10px;
  list-style: none;
}

.watch-main__btnbar__btn {
  padding: 0;
}

header {
  border: 2px solid black;
  margin-top: 20vh;
}

footer {
  margin-top: 30px;
  border: 2px solid black;
}

body {
  margin: 0 80px;
}

#timelaps__title ul {
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 20px 20px;
  margin: 0;
}
